/* fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-LightItalic.woff');
  src: local('Open Sans Light Italic'), local('OpenSansLightItalic'),
      url('../fonts/OpenSansLightItalic.woff2') format('woff2'),
      url('../fonts/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  src: local('Open Sans Regular'), local('OpenSansRegular'),
      url('../fonts/OpenSansRegular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff');
  src: local('Open Sans Semibold'), local('OpenSansSemibold'),
      url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff');
  src: local('Open Sans Bold'), local('OpenSansBold'),
      url('../fonts/OpenSansBold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

img {
  max-width: 100%;
}

body {
  min-width: 1440px;
  font-family: 'Open Sans' ,sans-serif;
  font-weight: 400;
}

/* global styles */

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

section {
  margin-bottom: 120px;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #222;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: #555;
}

.title {
  font-weight: 600;
}

input {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}


/*  header */

.header {
  padding: 40px 0 100px;
}

.header-logo {
  margin-right: auto;
}

.header-container {
  align-items: center;
}

.header-nav {
  margin-right: 60px;
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-button {
margin-right: 24px;
}

.header-signin {
  padding: 10px 22px;
  border: 1px solid #999;
  border-radius: 35px;
  font-size: 14px;
  line-height: 20px;
}


/* Booking */



.booking-container-up {
  margin-bottom: 42px;
}

.booking-up-content {
  margin-right: auto;
  max-width: 590px;
}

.booking-title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 80px;
}

.booking-descr {
  max-width: 350px;
  font-size: 20px;
  line-height: 32px;
}

.booking-form {
  max-width: 780px;
  padding: 50px 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.booking-form-fieldset-top {
  margin-bottom: 40px;
}


.booking-label {
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border-radius: 8px;
  background-color: #FAFAFA;
  color: #222;
}

.booking-label-date {
  margin-right: 24px;
}

.booking-form-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.booking-form-img-date {
  background-image: url(../img/02_booking/02_icon-date.svg);
}

.booking-form-img-number {
  background-image: url(../img/02_booking/02_icon-guests.svg);
}

.booking-form-img-search {
  background-image: url(../img/02_booking/02_location.svg);
}


.booking-label-search {
  align-items: center;
  width: 100%;
}

.booking-form-fieldset-down {
  align-items: center;
}

.booking-search-button {
  padding: 17px;
  border-radius: 8px;
  background-color: #3771C8;
}






.booking-down-left {
  justify-content: center;
  align-items: end;
  min-width: 956px;
  margin-right: 16px;;
  background-image: url(../img/02_booking/02_img01.jpg);
}

.booking-down-left-descr {
  padding-bottom: 50px;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}

.booking-down-right {
  flex-direction: column;
  align-items: stretch;
}

.booking-down-right-img:not(:last-child) {
  margin-bottom: 16px;
}



/* facilities */

.facilities-descr {
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 570px;
}

.facilities-link {
  line-height: 28px;
  color: #3771C8;
}

.facilities-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 10px 50px 20px;
}

.facilities-img {
  max-width: 68px;
  margin-bottom: 42px;
}


.facilities-item-title {
  margin-bottom: 12px;
  line-height: 28px;
  font-weight: 400;
}

.facilities-item-descr {
  max-width: 275px;
  color: #666;
  align-items: end;
}



/* About us */


.aboutus-img {
  margin-right: 60px;
}

.aboutus-right {
  flex-direction: column;
  align-items: flex-start;
}

.aboutus-title {
  max-width: 419px;
}

.aboutus-descr {
  margin-bottom: 40px;
}

.aboutus-list {
  justify-content: space-between;
  margin-bottom: 60px;
}

.aboutus-item {
  flex-direction: column;
  align-items: center;
}

.aboutus-item:not(:last-child) {
  margin-right: 65px;
}

.aboutus-item-title {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 46px;
}

.aboutus-item-descr {
  font-size: 15px;
  color: #222;
}

.aboutus-buton {
  padding: 16px 32px;
  border: 1px solid #3771C8;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #3771C8;
}




/* Brands */


.brands-container {
  width: 1110px;
  margin: 0 auto;
}

.brands-title {
  visibility: hidden;
}

.brands-list {
  justify-content: space-between;
  align-items: center;
}



/* Testimonials */

.testimonials-right {
  flex-direction: column;
  align-items: center;
  padding: 42px 70px;
  background-color: #F9D15C;
}

.testimonials-avatar {
  max-width: 64px;
  margin-bottom: 8px;
  border-radius: 50%;
}

.testimonials-title {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #555;
}

.testimonials-descr {
  margin-bottom: 43px;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  color: #222;
}


/* Location */

.location-title {
  line-height: 60px;
}

.location-descr {
  max-width: 400px;
  margin-bottom: 20px;
}

.location-rating {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.location-link {
  display: inline-block;
  color: #3771C8;
}

.location-stars {
  justify-content: space-between;
}

.location-stars-item:not(:last-child) {
  margin-right: 40px;
}

.location-button {
  padding: 8px 28px;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 400;
}

.location-info-item {
  max-width: 410px;
  border: 1px solid #E8E8E8;
  border-radius: 16px;
}

.location-info-item:not(:last-child) {
  margin-right: 24px;
}


.location-info-content {
  flex-direction: column;
  padding: 20px;
}

.location-info-title {
  margin-bottom: 8px;
  font-size: 19px;
  line-height: 30px;
  font-weight: 600;
}

.location-info-descr {
  max-width: 330px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  color: #555;
}

.location-info-priceblock {
  justify-content: space-between;
  align-items: center;
}

.location-info-price {
  font-size: 14px;
}

.location-info-price-number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #3771C8;
}

.location-info-button {
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #3771C8;
}


/* Contact */

.contact-container {
  padding-top: 60px;
  padding-left: 74px;
  padding-bottom: 65px;
  border-radius: 16px;
  background-color: #EAECEB;
  background-image: url(../img/08_subscribe/08_img01.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.contact-content {
  max-width: 700px;
}

.contact-title {
  line-height: 50px;
}

.contact-descr {
  max-width: 536px;
  margin-bottom: 92px;
  color: #555;
}

.contact-form {
  max-width: 536px;
}

.contact-form-fieldset {
  justify-content: space-between;
  padding-left: 28px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 28px;
  background-color: #fff;
}

.contact-form-input-email {
  font-size: 14px;
  line-height: 28px;
}

.contact-form-input-button {
  padding: 16px 32px;
  border-radius: 50px;
  font-size: 16px;
  line-height: 24px;
  background-color: #3771C8;
  color: #fff;
}



/* footer */

.footer {
  margin-bottom: 65px;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-item {
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-right: 165px;
}

.footer-logo {
  max-width: 90px;
  margin-bottom: 24px;
}

.first-item-descr {
  max-width: 260px;
  margin-bottom: 32px;
  line-height: 24px;
  color: #555;
}

.first-item-socialnetworks {
  max-width: 108px;
  justify-content: space-between;
}

.footer-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.footer-link {
  line-height: 24px;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-item-first {
  max-width: 265px;
}

.footer-item-second {
  max-width: 70px;
}

.footer-item-third {
  max-width: 100px;
}

.footer-item-fourth {
  max-width: 135px;
}
